-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: efbhalvbhdsurl
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_click`
--

DROP TABLE IF EXISTS `tbl_click`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_click` (
  `id` int NOT NULL AUTO_INCREMENT,
  `click_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `offer_id` int DEFAULT NULL,
  `sub_offer_id` int DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_click_offer_date` (`offer_id`,`created_at`),
  KEY `fk_click_sub_offer` (`sub_offer_id`),
  CONSTRAINT `fk_click_offer` FOREIGN KEY (`offer_id`) REFERENCES `tbl_offer_url` (`id`),
  CONSTRAINT `fk_click_sub_offer` FOREIGN KEY (`sub_offer_id`) REFERENCES `tbl_sub_offer_url` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_click`
--

LOCK TABLES `tbl_click` WRITE;
/*!40000 ALTER TABLE `tbl_click` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_click` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_network`
--

DROP TABLE IF EXISTS `tbl_network`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_network` (
  `id` int NOT NULL AUTO_INCREMENT,
  `network_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_network`
--

LOCK TABLES `tbl_network` WRITE;
/*!40000 ALTER TABLE `tbl_network` DISABLE KEYS */;
INSERT INTO `tbl_network` VALUES (1,'Google','2026-05-23'),(2,'GitHub','2026-05-23'),(3,'YouTube','2026-05-23'),(4,'OpenAI','2026-05-23'),(5,'Wikipedia','2026-05-23'),(6,'GitLab','2026-05-23'),(7,'StackOverflow','2026-05-23'),(8,'AWS','2026-05-23'),(9,'Mozilla','2026-05-23'),(10,'Mixed','2026-05-23');
/*!40000 ALTER TABLE `tbl_network` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_offer_url`
--

DROP TABLE IF EXISTS `tbl_offer_url`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_offer_url` (
  `id` int NOT NULL AUTO_INCREMENT,
  `offer` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tag_id` int DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `network_id` int DEFAULT NULL,
  `offer_status` tinyint NOT NULL DEFAULT '1',
  `status_updated_at` date DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_slug_name` (`slug_name`),
  KEY `idx_offer_status` (`offer_status`),
  KEY `fk_offer_tag` (`tag_id`),
  KEY `fk_offer_network` (`network_id`),
  CONSTRAINT `fk_offer_network` FOREIGN KEY (`network_id`) REFERENCES `tbl_network` (`id`),
  CONSTRAINT `fk_offer_tag` FOREIGN KEY (`tag_id`) REFERENCES `tbl_tag` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_offer_url`
--

LOCK TABLES `tbl_offer_url` WRITE;
/*!40000 ALTER TABLE `tbl_offer_url` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_offer_url` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_report`
--

DROP TABLE IF EXISTS `tbl_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_report` (
  `id` int NOT NULL AUTO_INCREMENT,
  `main_offer_id` int DEFAULT NULL,
  `main_offer_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `offer_clicks` int NOT NULL DEFAULT '0',
  `report_date` date NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_offer_report_date` (`main_offer_id`,`report_date`),
  KEY `idx_report_offer` (`main_offer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_report`
--

LOCK TABLES `tbl_report` WRITE;
/*!40000 ALTER TABLE `tbl_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_sub_offer_url`
--

DROP TABLE IF EXISTS `tbl_sub_offer_url`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_sub_offer_url` (
  `id` int NOT NULL AUTO_INCREMENT,
  `main_offer_id` int NOT NULL,
  `sub_url` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `weight` decimal(7,4) NOT NULL DEFAULT '0.0000',
  `status` enum('yes','no') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'yes',
  `deleted_status` enum('yes','no') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'no',
  PRIMARY KEY (`id`),
  KEY `idx_main_offer_active` (`main_offer_id`,`status`,`deleted_status`),
  CONSTRAINT `fk_sub_offer_main` FOREIGN KEY (`main_offer_id`) REFERENCES `tbl_offer_url` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_sub_offer_url`
--

LOCK TABLES `tbl_sub_offer_url` WRITE;
/*!40000 ALTER TABLE `tbl_sub_offer_url` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_sub_offer_url` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_tag`
--

DROP TABLE IF EXISTS `tbl_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_tag` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tag_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_tag`
--

LOCK TABLES `tbl_tag` WRITE;
/*!40000 ALTER TABLE `tbl_tag` DISABLE KEYS */;
INSERT INTO `tbl_tag` VALUES (1,'search','2026-05-23'),(2,'dev','2026-05-23'),(3,'video','2026-05-23'),(4,'ai','2026-05-23'),(5,'info','2026-05-23'),(6,'maps','2026-05-23'),(7,'code','2026-05-23'),(8,'qa','2026-05-23'),(9,'cloud','2026-05-23'),(10,'browser','2026-05-23'),(11,'','2026-05-23'),(12,'Google','2026-05-23'),(13,'OpenAI','2026-05-23'),(14,'Mixed','2026-05-23'),(15,'AWS','2026-05-23');
/*!40000 ALTER TABLE `tbl_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_user`
--

DROP TABLE IF EXISTS `tbl_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_name` (`user_name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_user`
--

LOCK TABLES `tbl_user` WRITE;
/*!40000 ALTER TABLE `tbl_user` DISABLE KEYS */;
INSERT INTO `tbl_user` VALUES (1,'admin','admin123');
/*!40000 ALTER TABLE `tbl_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-27 16:53:09
